extends ./layout.jade
block content
	div(class="post_head_wrap")
		h1(class="post_header post_title")= blogs.title
		div(class="edit_delete_wrap")
			a(class="editbutton" href="/blog/#{blogs.id}/edit") Edit post
			a(class="deletebutton" href="/blog/#{blogs.id}/delete") Delete
			em(class="post_category_main")= blogs.category
	p(class="main_content post_content")= blogs.content	

