extends ./layout.jade
block content
  div
    a(class="editbutton" href="/blog/#{blogs.id}/edit") Edit post 
    a(class="deletebutton" href="/blog/#{blogs.id}/delete") Delete
  h1= blogs.title
  div
    em(class="cat")= blogs.category
    p(class="cont")= blogs.content
    p(class="test") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae unde eos incidunt nostrum culpa laudantium eaque non quos rerum, enim, earum totam esse, facere expedita consequuntur eius voluptates quas ut.
